<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Space</title>
  </head>


  <body>

    <form action="/create-space" method="post">
      Name: <input type="text" name="name">
      Description: <input type="text" name="description">
      Price: <input type="text" name="price">
      <input type="submit" value="Submit">
    </form>


  </body>
</html>
