<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Makers BnB - Create Space</title>
    <link rel="stylesheet" type="text/css" href="colours.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  </head>

  <body>

    <style>
      body {
        text-align:center;
        margin-top: 300px;
        margin-bottom: 200px;
        background-image: url("https://www.highreshdwallpapers.com/wp-content/uploads/2013/12/City-Scene.jpg");
      }
    </style>

    <h1 class="heading">Create a space</h1>

      <form action="/create_space" method="post">
       <input type="text" name="name" placeholder="Name of the space">
       <input type="text" name="description" placeholder="Description">
       <input type="text" name="price" placeholder="Price per night">
       <input type="text" name="image" placeholder="Image url">
        Select dates: <input type="text" name="daterange" value="01/01/2018 - 01/15/2018">
       <button type="submit" class="button" style="vertical-align:middle" value="Submit"><span>Submit</span>
      </form>


    <script>
    $(function() {
      $('input[name="daterange"]').daterangepicker({
        "locale": {
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        },
        "startDate": "11/12/2018",
        "endDate": "12/12/2018"
      }, function(start, end, label) {
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });
    </script>

    <div class="logo">
    <img src= 'Webp.net-resizeimage.jpg'>
    <div>
    <script src="jquery.js"></script>
  </body>
</html>
