<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Makers BnB</title>
  </head>
  <body>
    <h1>MakersBnB</h1>
    <a href="/sign_in">Sign In</a><br>
    <a href="/sign_up">Sign Up</a><br>
  </body>
</html>
