<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBNB</title>
  </head>
  <body>
    <h1>MakersBNB</h1>
    <a href="/sign_in">Sign In</a><br>
    <a href="/sign_up">Sign Up</a><br>

    <a href="/view_all_spaces">View All Spaces</a>
  </body>
</html>
