<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/sign_up" method="post">
      <input type="text" name="name" value="" placeholder="Enter your name">
      <input type="text" name="email" value="" placeholder="Enter your email">
      <input type="password" name="password" value="" placeholder="Enter your password">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
