<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Makers BnB - Sign In</title>
    <%= erb :_head %>
    <style>
      blink {
        animation: blinker 0.6s linear infinite;
        color: #ff0000;
      }
      @keyframes blinker {
        50% { opacity: 0; }
      }
    </style>
  </head>

  <body>
    <h1 class="heading">Sign in</h1>

    <blink><%= flash[:notice] %></blink>

    <form action="/sign_in" method="post">
      <input type="text" name="email" placeholder="Enter your email">
      <input type="password" name="password" placeholder="Enter your password">
      <button type="submit" class="button" style="vertical-align:middle" value="Submit"><span>Submit</span></button>
    </form>

    <form action="/">
      <button type="submit" class="button" style="vertical-align:middle"><span>Back</span></button>
    </form>

    <div class="logo">
      <img src= 'Webp.net-resizeimage.jpg'>
    <div>

  </body>
</html>
