<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Makers BnB - Sign Up</title>
    <%= erb :_head %>
  </head>

  <body>

    <h1 class="heading">Sign Up</h1>


    <form action="/sign_up" method="post">
      <input type="text" name="name" placeholder="Enter your name">
      <input type="text" name="email" placeholder="Enter your email">
      <input type="password" name="password" placeholder="Enter your password">
      <button type="submit" class="button" style="vertical-align:middle" value="Submit"><span>Submit</span></button>
    </form>

    <form action="/">
      <button type="submit" class="button" style="vertical-align:middle"><span>Back</span></button>
    </form>

    <div class="logo">
      <img src= '/images/Webp.net-resizeimage.jpg'>
    <div>

  </body>
</html>
