<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Makers BnB - Sign In</title>
    <link rel="stylesheet" type="text/css" href="colours.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <style>
      blink {
        animation: blinker 0.6s linear infinite;
        color: #ff0000;
      }
      @keyframes blinker {
        50% { opacity: 0; }
      }
    </style>
  </head>

  <body>
    <style>
      body {
        text-align:center;
        margin-top: 300px;
        margin-bottom: 200px;
        background-image: url("https://www.highreshdwallpapers.com/wp-content/uploads/2013/12/City-Scene.jpg");
      }
    </style>

    <h1 class="heading">Sign in</h1>

    <blink><%= flash[:notice] %></blink>

    <form action="/sign_in" method="post">
      <input type="text" name="email" placeholder="Enter your email">
      <input type="password" name="password" placeholder="Enter your password">
      <button type="submit" class="button" style="vertical-align:middle" value="Submit"><span>Submit</span>
    </form>

    <form action="/">
      <button type="submit" class="button" style="vertical-align:middle"><span>Back</span>
    </form>

    <div class="logo">
    <img src= 'Webp.net-resizeimage.jpg'>
    <div>

    <script src="jquery.js"></script>
  </body>
</html>
